/*#sale-compare .panel-default .zl-table-cell{*/
    /*width:10%;*/
/*}*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(1){width:20%;}*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(2),*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(3),*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(4),*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(5),*/
/*#sale-compare .panel-default .zl-table-cell:nth-child(6){*/
    /*width:8%;*/
/*}*/
#sale-compare .zl-toolbar>*{margin:0 10px 0 0 ;}
#sale-compare .zl-toolbar .form-control{background-color:#fff;}

#sale-compare .panel-default .zl-table-cell{
    padding-left:20px;
    padding-right:20px;
}
