#activity-mgt .zl-toolbar>.zl-search-wrapper{margin-right:10px;}

/* ======================================== zl-table-block ======================================== */
#activity-mgt .zl-table-block {
}

#activity-mgt .image-preview{
    display:block;
    width:120px;
    height:100px;
    border:1px solid #eff1f4;
    background-color:#f8fafa;
}
#activity-mgt .input-addon {
	height:32px;
}
#activity-mgt .input-addon>label {
	height:32px;
	line-height: 32px;
}

