#late-fee{padding:44px 0 0 0;}

#late-fee .zl-linkable{
}

#late-fee .zl-toolbar>a.btn{
    margin-left:10px;
}

#late-fee .zl-dropdown-inline{
    height:100%;
}
#late-fee .zl-dropdown-inline .zl-dropdown-btn{
    height:32px;
    border:none;
}
