#lessee-creation{padding:44px 0 0 0;}

#lessee-creation .zl-toolbar .zl-btn{margin-left:10px;}

#lessee-creation .zl-dropdown-inline{
    height:100%;
}
#lessee-creation .zl-dropdown-inline .zl-dropdown-btn{
    height:100%;
    border:none;
}