/*#tax-rate-list{width:700px;}*/
#tax-rate-list .zl-toolbar>.zl-search-wrapper{margin-right:10px;}

/* ======================================== zl-table-block ======================================== */
#tax-rate-list .zl-table-block {
}

#tax-rate-list .zl-pagination-wrapper{padding-top:20px;}

