<div class="modal fade" tabindex="-1" role="dialog" id="modal-alert" data-type="mCtrl.alertMsgType">
    <div class="modal-dialog modal-sm" role="document" >
        <div class="modal-content">
            <!--<div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title pull-left">消息提示</h4>
            </div>--><!--modal-head-->

            <div class="modal-body">
                <div class="modal-warn-logo" ng-if="mCtrl.alertMsgType=='confirm'">
                    <img src="../static/images/common/alert@2X.png">
                </div>
                <h5 style="text-align: center;font-size:16px;">{{mCtrl.alertMsg}}</h5>
                <p ng-show="mCtrl.warnText.length>0">{{mCtrl.warnText}}</p>
            </div><!--modal body-->

            <div class="modal-footer ">
                <div class="zl-btn-wrapper clearfix" ng-if="mCtrl.alertMsgType=='confirm'">
                    <button type="button" class="btn btn-default zl-btn zl-btn-grey" ng-click="mCtrl.confirmAlertMsg()">确定</button>
                    <button type="button" class="btn btn-default zl-btn" ng-click="mCtrl.dismissAlert()" >取消</button>
                </div>

                <div class="zl-btn-wrapper clearfix" ng-if="mCtrl.alertMsgType=='alert'">
                    <button type="button" class="btn btn-default zl-btn zl-btn-red" ng-click="mCtrl.dismissAlert()" >确定</button>
                </div>
            </div>
        </div>
    </div>
</div>