#city-company .zl-toolbar>.zl-search-wrapper{margin-right:10px;}

/* ======================================== zl-table-block ======================================== */
#city-company .zl-table-block {
}

#city-company .image-preview{
    display:block;
    width:120px;
    height:100px;
    border:1px solid #eff1f4;
    background-color:#f8fafa;
}

#city-company .panel-default:not(.zl-panel-thead) .panel-heading:hover{cursor:pointer;}

